{% extends "core/base.html" %}

{% block title %}Blog{% endblock title %}

{% block content %}
  {% for epost in  posts%}
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-innerv text-center rounded">
              <h2 class="section-heading mb-5">
                <span class="section-heading-upper">{{epost.date_publish|date:"SHORT_DATE_FORMAT"}}</span>
                <span class="section-heading-lower">{{epost.title}}</span>
              </h2>
              <p class="mb-0">
                {% if epost.image %}
                  <img class="mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{epost.image.url}}" alt="">
                {% endif %}
              </p>
              <p class="mb-0 mbt">{{epost.content|linebreaks}}</p>
              <p class="mb-0 mbt">
                <span class="section-heading-under">Publicado por <em><b>{{epost.autor}}</b></em> en 
                  {% for ecategory in epost.categories.all %}
                    <a href="{% url "category" ecategory.id %}" class="link">{{ecategory.name}}{% if not forloop.last %},{% endif %}</a>
                  {% endfor %}
                </span>
              </p>
            </div>

          </div>
        </div>
      </div>
    </section>
  {% endfor %}
{% endblock %}
